@using BlazorApp1.Models;
@using SpotifyAPI.Web;

<div class="spotify-container" style="background-image:url(@ImageURL)">
    <div>
        <span>@MainTitle</span>
        <span>@SubTitle</span>
    </div>
</div>


@code {
    [Parameter] public string MainTitle { get; set; }
    [Parameter] public string SubTitle { get; set; }
    [Parameter] public string ImageURL { get; set; }
}


<style>
    .spotify-container {
        overflow: hidden;
        width: 10rem;
        height: 10rem;
        background-position: center;
        background-size: cover;
        margin: 1rem;
        border-radius: 1rem;
        position: relative;
    }

        .spotify-container > div {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 50%;
            width: 100%;
            position: absolute;
            top: 50%;
            background-color: rgba(0,0,0,0.5);
        }

            .spotify-container > div span {
                font-weight: bold;
            }
</style>
