@using BlazorApp1.Models;
@using BlazorApp1.Components;
@page "/folio"

<PageTitle>Folio</PageTitle>

<h1 class="mt-2 mb-3" style="text-align:center">
    Folio
</h1>

<FolioPart Title=@($"{AppConst.placeHolder} 1") Infos="_infos"></FolioPart>
<FolioPart Title=@($"{AppConst.placeHolder} 2") Infos="_infos"></FolioPart>
<FolioPart Title=@($"{AppConst.placeHolder} 3") Infos="_infos"></FolioPart>


@code {
    private ElementInfos[] _infos = new ElementInfos[] { };

    protected override Task OnInitializedAsync() {
        _infos = new ElementInfos[] {
                new ElementInfos("Versus Punch", AppConst.descriptionVersusPunch, "/versus-punch.png"),
                new ElementInfos("Femora", AppConst.descriptionFemora, "/femora.png"),
                new ElementInfos("Katra Ball", AppConst.descriptionKatraBall, "/katra-ball.png"),
    };

        return base.OnInitializedAsync();
    }
}
