@using BlazorApp1.Models;
@using BlazorApp1.Components;
@page "/folio"

<PageTitle>Folio</PageTitle>

<h1 class="mt-2 mb-3" style="text-align:center">
    Folio
</h1>

<Separator Vertical=false></Separator>
<FolioSection Title=@($"About") Text=@AppConst.aboutMe></FolioSection>
<Separator Vertical=false></Separator>
<FolioSection Title=@($"Professionnal projects") Infos="_infosProfessionnal"></FolioSection>
<Separator Vertical=false></Separator>
<FolioSection Title=@($"Personnal projects") Infos="_infosPersonnal"></FolioSection>
<Separator Vertical=false></Separator>
<FolioSection Title=@($"Resume")></FolioSection>

<footer style="text-align:center">
    Contacts
</footer>



@code {
    private ElementInfos[] _infosPersonnal = new ElementInfos[] { };
    private ElementInfos[] _infosProfessionnal = new ElementInfos[] { };

    protected override Task OnInitializedAsync() {
        _infosPersonnal = new ElementInfos[] {
            new ElementInfos("Versus Punch", AppConst.descriptionVersusPunch, "/versus-punch.png"),
            new ElementInfos("Femora", AppConst.descriptionFemora, "/femora.png"),
            new ElementInfos("Katra Ball", AppConst.descriptionKatraBall, "/katra-ball.png"),
            new ElementInfos("Katra Heroes", AppConst.descriptionKatraHeroes, "/katra-ball.png"),
        };

        _infosProfessionnal = new ElementInfos[] {
            new ElementInfos("Versus Punch", AppConst.descriptionVersusPunch, "/versus-punch.png"),
        };

        return base.OnInitializedAsync();
    }
}
