@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex justify-content-center">
    <HoveringElement Content="1"></HoveringElement>
    <HoveringElement Content="2"></HoveringElement>
    <HoveringElement Content="3"></HoveringElement>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
