@using BlazorApp1.Models
@using BlazorApp1.Components;
@page "/test"

<PageTitle>Test</PageTitle>

<div class="d-flex flex-column align-content-center align-items-center">
    <h1>Test</h1>
</div>


@code {

}
