@using Microsoft.AspNetCore.Components.Web;
@using BlazorApp1.Components;
@page "/todolist"

<PageTitle>ToDoList</PageTitle>

<div class="d-flex m-2 flex-column align-items-center" style="text-align:center">
    <ToDoElement Label="test" Done=false></ToDoElement>
</div>

@code {

}
