@inherits LayoutComponentBase

<PageTitle>MyApp</PageTitle>

<div class="page flex-column">
    <div class="topbar w-100 sticky-top">
        <NavMenu />
    </div>
    <div>
        @Body
    </div>
</div>

<style>
    .page {
        font-family: Roboto;
    }

    .topbar {
        height: 5rem;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }
</style>
