@using BlazorApp1.Models;
@using BlazorApp1.Components;
@inherits LayoutComponentBase

<PageTitle>MyApp</PageTitle>

<div class="page flex-column">
    <div class="topbar w-100 sticky-top">
        <NavMenu />
    </div>

    <div class="m-3">
        @Body
    </div>
</div>

<style>
    @@import url(https://fonts.googleapis.com/css2?family=Ubuntu);

    .page {
        font-family: "Ubuntu";
        background-color: @AppModel.dark;
        color: @AppModel.light;
    }

    .topbar {
        height: 4rem;
        background-color: @AppModel.color;
    }

    .duration-1 {
        transition-duration: 500ms;
    }
</style>
