@using BlazorApp1.CustomDatas;
@inherits LayoutComponentBase

<PageTitle>MyApp</PageTitle>

<div class="page flex-column">
    <div class="topbar w-100 sticky-top">
        <NavMenu />
    </div>
    <div class="m-3">
        @Body
    </div>
</div>

<style>
    .page {
        font-family: Roboto;
    }

    .topbar {
        height: 5rem;
        background-image: linear-gradient(90deg, @ApplicationConstants.palette[0] 0%, @ApplicationConstants.palette[1] 50%);
    }
</style>
