@using BlazorApp1.CustomDatas;
@inherits LayoutComponentBase

<PageTitle>MyApp</PageTitle>

<div class="page flex-column">
    <div class="topbar w-100 sticky-top">
        <NavMenu />
    </div>
    <div class="m-3">
        @Body
    </div>
</div>

<style>
    .page {
        font-family: Roboto;
        background-color: @ApplicationConstants.dark;
    }

    .topbar {
        height: 5rem;
        background-color:@ApplicationConstants.color;
    }

    .duration-1{
        transition-duration:500ms;
    }
</style>
