@using BlazorApp1.CustomDatas
@using BlazorBootstrap;

<nav class="navbar navbar-expand-lg h-100 w-100 navbar-dark bg-transparent align-content-center">
    <ul class="navbar-nav nav-fill w-100">
        @for (int i = 0; i < _infos.Length; i++) {
            int index = i;
            <li class="nav-item">
                <NavLink class="nav-link" href="@_infos[index].id" Match="NavLinkMatch.All">
                    <i class=@_infos[index].icon style="font-size:inherit; color:inherit"></i>
                    @_infos[index].name
                </NavLink>
            </li>
        }
    </ul>
</nav>



@code {
    #region Variables
    private string _appName = "MyApp";
    private PageInfos[] _infos = new PageInfos[] { };
    #endregion

    protected override Task OnInitializedAsync() {
        _infos = new PageInfos[] {
            new PageInfos("", "Home", "bi-house"),
            new PageInfos("Counter", "Counter", "bi-plus"),
            new PageInfos("FetchData", "Weather", "bi-cloud"),
            new PageInfos("Calculator", "Calculator", "bi-calculator")
        };

        return base.OnInitializedAsync();
    }
}
